2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico IP/202204130415.pcap
2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico IP/teste_500.pcap
2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico TCP/teste_500.pcap
2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico IP/teste_1000.pcap
2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico IP/t90k.pcap
2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico IP/cdf_handshake.png
2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico IP/comparacao_conexoes.png
2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico IP/hist_retransmissoes.png
2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico IP/janela_congestionamento.png
2025_A/ELC1017 - Redes de Computadores/Análise de Tráfico IP/rtt_por_conexao.png
